body {
    margin: 0;
    background: black;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
}

#info {
    position: fixed;
    font-family: sans-serif;
    margin: 48px 10px;
}

select, option {
    font-size: 1.1em;
}

#init-config {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 170px;
}

#run {
    height: 2.35em;
    position: fixed;
    top: 9px;
    left: 185px;
}